---

---
<footer class="footer ">
    
      
      <p>&copy; {new Date().getFullYear()}</p>
      <p>Mohamed Wade | Tous droits reservé</p>
      <p>Powered by <a href="https://newsapi.org/">News API</a></p>
    
  </footer>

  <style>
    p{
        font-size: medium;
    }
  </style>
  