---

---
<footer class="footer ">
    
      <p>Powered by <a href="https://newsapi.org/">News API</a></p>
      <p><pre></pre>&copy; {new Date().getFullYear()}      A.A.BA-S.S.NDIAYE-M.WADE-N.E.MONTEIRO-R.GUEYE-M.B.SALL-E.KA-M.M.KEITA.</pre></p>
    
  </footer>
  