---

---
<footer class="footer ">
    
      <p>Powered by <a href="https://newsapi.org/">News API</a></p>
      <p>&copy; {new Date().getFullYear()}   <pre> A.A.BA-S.S.NDIAYE-M.WADE-N.E.MONTEIRO-R.GUEYE-M.B.SALL-E.KA-M.M.KEITA.</pre></p>
    
  </footer>

  <style>
    p{
        font-size: medium;
    }
  </style>
  