---

const date = new Date();
const time = date.getHours() + ":"+date.getMinutes();
---

<div class="navbar">
    <div class="left">
        <img src="public/information-round-svgrepo-com.svg" alt="" class="icon">
    </div>
    <div class="right">
        <a href=".">Home</a>&nbsp;
        <a href="sport">Sport</a>&nbsp;
        <a href="technology">Technologie</a>&nbsp;
        <a href="science">Science</a>&nbsp;
        <span>Time: {time}</span>
    </div>

</div>

<style>
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .right{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        text-decoration: none;
    }

    .icon{
        width: 40px;
    }
</style>