---

const date = new Date();
const time = date.getHours() + ":"+date.getMinutes();
---

<div class="navbar">
    <div class="left">
        
            <span>T</span><span>h</span><span>e</span> <span>D</span>a<span></span>i<span>l</span><span>y</span> <span>F</span><span>l</span><span>o</span><span>w</span>
        
    </div>
    <div class="mid">
        <div class="nav--option">
            <a href=".">Home</a>&nbsp;
            <a href="sport">Sport</a>&nbsp;
            <a href="technology">Technologie</a>&nbsp;
            <a href="science">Science</a>&nbsp;
        </div>
    </div>
    <div class="right">
        
        <span>Time: {time}</span>
    </div>

</div>

<style>


    
    .navbar{
        font-family: 'poppins';
        width: 100%;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        background-color: rgb(2, 49, 142,.7);
        border-radius: 3pc;
        font-size: 23px;
    }

    .left{
        position: relative;
        right: 0;
        display: flex;
        margin-left: 25px;
        color: white;
        font-size: 1.1em;
        font-weight: 500;

    }

    .left span:hover{
        transform:translateY(-5px) ;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }
    .left span {
        transition:  transform .4s ease-in-out ;
        display: inline-block;
    }




    .mid{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .right{
        position: relative;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        text-decoration: none;
        color: white;
    }

    .nav--option{
        text-align: center;
        color: black;
    }

    .nav--option a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        margin-right: 10px;
        transition:  all .2s ease-out ;
        display: inline-block;
       
    }
    .nav--option a:hover{
        transform: scale(1.1);
        color: rgba(160, 75, 240, 0.5);
    }

    .icon{
        width: 40px;
        margin-right: 10px;
    }

 
    
</style>