---

---

<div class="navbar">
    <div><a href=".">Home</a></div>
    <div><a href="sport">Sport</a></div>
    <div><a href="technology">Technologie</a></div>
    <div><a href="science">Science</a></div>
</div>

<style>
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
</style>